<div class="s-badge__box_default">
  <div v-show="showBig" class="s-badge__big_default" :class="{'s-badge__blueBig_default': CBlue, 's-badge__redBig_default': CRed, 's-badge__greenBig_default': CGreen, 's-badge__yellowBig_default': CYellow}">{{ msg }}</div>
  <div v-show="showMid" class="s-badge__mid_default" :class="{'s-badge__blueMid_default': CBlue, 's-badge__redMid_default': CRed, 's-badge__greenMid_default': CGreen, 's-badge__yellowMid_default': CYellow}">{{ msg }}</div>
  <div v-show="showMin" class="s-badge__min_default" :class="{'s-badge__blueMin_default': CBlue, 's-badge__redMin_default': CRed, 's-badge__greenMin_default': CGreen, 's-badge__yellowMin_default': CYellow}">{{ msg }}</div>
</div>