.s-text__button_default {
  width: 150px;
  height: 80px;
  margin: 0;
  outline: none;
  border-radius: 20px;
  position: relative;
  border: none;
  color: #fff;
  font-size: 35px;
  cursor: pointer;
  transition: all .3s;
}

.s-text__button_width {
  width: 80%;
}

.s-text__button_big {
  width: 180px;
  height: 100px;
}

.s-text__button_primary {
  background: #007FFF;
}

.s-text__button_danger {
  background: #f00;
}

.s-text__button_danger:active {
  background: #fff;
  color: #f00;
}

.s-text__button_primary:active {
  background: #fff;
  color: #007FFF;
}

.s-text__button_cover {
  position: absolute;
  width: 100%;
  height: 100%;
}