.s-button__default_default, .s-button__danger_default, .s-button__primary_default {
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 35px;
  transition: all .3s;
  color: #fff;
}

.s-button__default_default {
  background: #ccc;
}

.s-button__danger_default {
  background: #f00;
}

.s-button__primary_default {
  background: #007FFF;
}

.s-button__default_default:active {
  color: #ccc;
  background: #fff;
}

.s-button__danger_default:active {
  color: #f00;
  background: #fff;
}

.s-button__primary_default:active {
  background: #fff;
  color: #007FFF;
}

.s-button__defaultSml_default, .s-button__dangerSml_default, .s-button__primarySml_default {
  width: 150px;
  height: 80px;
}

.s-button__defaultMid_default, .s-button__dangerMid_default, .s-button__primaryMid_default {
  width: 200px;
  height: 100px;
}

.s-button__defaultBig_default, .s-button__dangerBig_default, .s-button__primaryBig_default {
  height: 120px;
  width: 100%;
}