.s-popup__container_true {
  width: 100%;
  height: 100%;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 100;
}

.s-popup__middle_default {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.s-popup__midBox_default {
  max-width: 500px;
  max-height: 400px;
  background: #fff;
  position: relative;
  border-radius: 20px;
  min-width: 300px;
  min-height: 100px;
  padding: 0 20px;
}

.s-popup__triangle_default {
  position: absolute;
  top: -100px;
  right: 20%;
  border-width:50px;
  border-style:solid;
  border-color:transparent transparent #fff transparent;
}

.fade-enter-active {
  transition: opacity .2s
}

.fade-leave-active {
  transition: opacity .5s
}

.fade-enter, .fade-leave-to {
  opacity: 0
}