<div class="s-spinner__containner_default">
  <div class="s-spinner__round_default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="s-spinner__snake_default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="s-spinner__roulette_default"></div>
  <div class="s-spinner__window_default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="s-spinner__wave_default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>