.s-field__text_dafault, .s-field__birthday_default {
  width: 90%;
  height: 140px;
  margin: 0 auto;
  border-bottom: 2px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.s-field__title_dafault {
  flex: 4;
  font-size: 40px;
}

.s-field__text_dafault input {
  border: none;
  outline: none;
  padding: 0;
  background: none;
  flex: 7;
  height: 60%;
  font-size: 40px;
}

.s-field__date_dafault {
  flex: 7;
  font-size: 40px;
  height: 100%;
  border: none;
  background: none;
  outline: none;
  padding: 0;
}