<div>
  <!-- <div class="s-field__text_dafault">
    <div class="s-field__title_dafault">{{ msg }}</div>
    <input type="text" :placeholder="defaultText">
  </div> -->
  <!-- <div class="s-field__birthday_default">
    <div class="s-field__title_dafault">{{ msg }}</div>
    <input class="s-field__date_dafault" type="date" placeholder="年/月/日"> 
  </div> -->
  <!-- <div class="s-field__textarea_default">
    <div class="s-field__title_dafault">{{ msg }}</div>
    <textarea rows="4" :placeholder="defaultText"></textarea>
  </div> -->
  <!-- <div class="s-field__number_default">
    <div class="s-field__title_dafault">{{ msg }}</div>
    <input type="number" placeholder="请输入数字">
  </div> -->
</div>