<div class="s-header__container_default">
  <div v-show="type==='one'" class="s-header__one_default"><h1 @click="back" class="g_back">< 返回</h1><span>{{ title }}过长会隐藏过长会隐藏过长会隐藏过长会隐藏过长会隐藏</span><h2 class="share">分享</h2></div>
  <div v-show="type==='two'" class="s-header__two_default"><h1 @click="back" class="g_back">< 返回</h1><span>{{ title }}</span><h2 class="share">分享</h2></div>
  <div v-show="type==='three'" class="s-header__three_default"><h1 @click="back" class="g_back">返回</h1><span>左侧仅文字{{ title }}</span><h2 class="share">···</h2></div>
  <div v-show="type==='four'" class="s-header__four_default"><h1 @click="back" class="g_back"><</h1><span>仅图标{{ title }}</span><h2 class="share">···</h2></div>
</div>