<div class="s-swipe__container_default">
  <div class="s-swipe__cover_default">
    <span @click="toOne" class="s-swipe__round_false" :class="{'s-swipe__round_true': roundArr[0] === 1}"></span>
    <span @click="toTwo" class="s-swipe__round_false" :class="{'s-swipe__round_true': roundArr[0] === 2}"></span>
    <span @click="toThree" class="s-swipe__round_false" :class="{'s-swipe__round_true': roundArr[0] === 3}"></span>
  </div>
  <div class="s-swipe__boxOne_default s-swipe__box_default" :class="{'s-swipe__box_true': boxArr[0] === 1}" @click="">I'm one</div>
  <div class="s-swipe__boxTwo_default s-swipe__box_default" :class="{'s-swipe__box_true': boxArr[0] === 2}" @click="">I'm two</div>
  <div class="s-swipe__boxThree_default s-swipe__box_default" :class="{'s-swipe__box_true': boxArr[0] === 3}" @click="">I'm three</div>
</div>