<div class="s-swipe__container_default">
  <div class="s-swipe__boxOne_default s-swipe__box_default" :class="{'s-swipe__box_false': isFalse, 's-swipe__box_true': isTrueOne}" @click="">I'm one</div>
  <div class="s-swipe__boxTwo_default s-swipe__box_default" :class="{'s-swipe__box_false': isFalse, 's-swipe__box_true': isTrueTwo}" @click="">I'm two</div>
  <div class="s-swipe__boxThree_default s-swipe__box_default" :class="{'s-swipe__box_false': isFalse, 's-swipe__box_true': isTrueThree}" @click="">I'm three</div>
</div>