.s-checkbox__box_default {
  height: 30px;
  max-width: 100px;
  background: #f00;
  border-radius: 5px;
  font-size: 20px;
  display: flex;
  align-items: center;
}

.s-checkbox__block_default {
  height: 26px;
  width: 26px;
  background: #fff;
  border: .1px solid #ccc;
  border-radius: 3px;
}